# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

equip_processing.lua
export.lua
flow.lua
gearswap.lua
helper_functions.lua
packet_parsing.lua
readme.md
README.md
refresh.lua
statics.lua
targets.lua
triggers.lua
user_functions.lua
validate.lua
version_history.txt
beta_examples_and_information/*
data/instructions.txt
libs/Mote-*
libs/rev1/*
data/export/*
data/common/*
data/User/*
data/Extras/*
libs/closetCleaner.lua
Rename.bat
Modes.lua
organizer-lib.lua
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
data/Gearswap
data/Gearswap
.vs/GearSwap/v17/DocumentLayout.json
.vs/GearSwap/v17/.wsuo
.vs/GearSwap/FileContentIndex/7a126177-82d7-443d-a967-333e5deb927e.vsidx
data/Gearswap
